@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-crawrchet-bg text-crawrchet-text font-serif overflow-hidden;
  }
}
